<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>High School</th>
      <th>Concentration</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    <% @prospies.each do |prospy| %>
      <tr>
        
        <td><%= link_to prospy.name, prospy_path(prospy) %></td>
        <td><%= mail_to prospy.email %></td>
        <td><%= prospy.high_school %></td>
        <td><%= prospy.concentration.try(:name) %></td>
        <td><%= prospy.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<%= paginate @prospies %>