<%- model_class = Prospy.new.class -%>
<h1>Prospective Students</h1>
<table class="table table-striped">
  <thead>
    <tr>
      
      <th><%= model_class.human_attribute_name(:first_name) %></th>
      <th><%= model_class.human_attribute_name(:email) %></th>
      <th><%= model_class.human_attribute_name(:high_school) %></th>
      <th><%= model_class.human_attribute_name(:concentration_id) %></th>
      <th><%= model_class.human_attribute_name(:year_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @prospies.each do |prospy| %>
      <tr>
        
        <td><%= link_to prospy.name, prospy_path(prospy) %></td>
        <td><%= prospy.email %></td>
        <td><%= prospy.high_school %></td>
        <td><%= prospy.concentration.try(:name) %></td>
        <td><%= prospy.year_id %></td>
        <td><%= prospy.created_at.strftime("%m/%d/%Y") %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_prospy_path(prospy), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      prospy_path(prospy),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_prospy_path,
            :class => 'btn btn-primary' %>
