<%- model_class = @prospy.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<div class="container"><dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @prospy.name %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @prospy.email %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_number) %>:</strong></dt>
  <dd><%= @prospy.telephone_number %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:address_1) %>:</strong></dt>
  <dd><%= @prospy.address_1 %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:address_2) %>:</strong></dt>
  <dd><%= @prospy.address_2 %>&nbsp;</dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @prospy.city %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @prospy.state %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:zip) %>:</strong></dt>
  <dd><%= @prospy.zip %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:interest) %>:</strong></dt>
  <dd><%= @prospy.interest %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:high_school) %>:</strong></dt>
  <dd><%= @prospy.high_school %>&nbsp</dd>
  <dt><strong><%= model_class.human_attribute_name(:concentration_id) %>:</strong></dt>
  <dd><%= Concentration.find(@prospy.concentration_id).name %>&nbsp</dd>
</dl></div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              prospies_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_prospy_path(@prospy), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              prospy_path(@prospy),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
